body {
  background: #eac6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.calculator {
  background: white;
  padding: 25px;
  border-radius: 30px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.display {
  background: #e9f7f7;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  font-size: 28px;
  color: #444;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.08);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.btn {
  background: #f1f3f6;
  border: none;
  padding: 18px;
  border-radius: 50%;
  font-size: 18px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}

.equal {
  grid-column: span 2;
  border-radius: 30px;
  background: #e68ec6;
  color: white;
}
