@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  text-transform: uppercase;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 400px;
  padding: 3%;
  border-radius: 30px;
  background-color: #440a5e;
  display: flex;
  flex-direction: column;
  color: white;
}

.container input {
  height: 24px;
}

.container h1 {
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 30px;
}
.container .radio-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: flex-end;
}
.container .radio-container button {
  height: 24px;
}
.container .radio-container > div {
  width: 40%;
}
.container .radio-container > div select {
  width: 100%;
  height: 24px;
}

.container .exchange-paragraph {
  margin: 20px 0;
  text-align: center;
  font-size: 25px;
}

.container .get-exchange {
  height: 30px;
  cursor: pointer;
}
